
.ipynb_checkpoints/AAND_Assignment02-checkpoint.ipynb
.ipynb_checkpoints/AAND_Assignment03-checkpoint.ipynb
.ipynb_checkpoints/Numerical01-checkpoint.ipynb
.ipynb_checkpoints/Assignment 04-checkpoint.ipynb
